@import url(../vendor/normalize.css);

@import url(../vendor/fonts/fonts.css);

.page {
  margin: 0 auto;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #000;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

.header {
  display: flex;
  height: min-content;
  flex-direction: column;
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 40px;
}

.header__logo {
  background-image: url(../images/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 142px;
  min-height: 33px;
}

.header__line {
  border-bottom: 1px solid #545454;
  width: 100%;
  opacity: 0.7;
  padding-top: 41px;
}

.profile {
  margin: 0 auto;
  max-width: 880px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: min-content 3fr minmax(150px, auto);
  gap: 30px;
  align-items: center;
}

.profile__avatar {
  max-width: 120px;
  border-radius: 50%;
  object-fit: contain;
}

.profile__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  gap: 10px;
}

.profile__container {
  display: flex;
  gap: 24px;
  align-items: flex-start;
}

.profile__name {
  max-width: 100%;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  text-rendering: optimizeLegibility;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile__job {
  max-width: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile__edit-button {
  height: 24px;
  width: 24px;
  background-image: url(../images/edit.png);
  background-color: #000;
  background-size: 10px;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  margin-top: 15px;
  transition: opacity .3s ease-out;
}

.profile__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

.profile__add-button {
  max-width: 150px;
  min-height: 50px;
  box-sizing: border-box;
  background-image: url(../images/add.png);
  background-color: #000;
  background-size: 22px;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 0;
  border: 1px solid #FFFFFF;
  width: 100%;
  border-radius: 2px;
  transition: opacity .3s ease-out;
}

.profile__add-button:hover {
  opacity: .6;
  cursor: pointer;
}

.elements__list {
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 17px;
  margin: 0 auto;
  padding: 51px 0 0;
}

.elements__item {
  max-width: 282px;
  border-radius: 10px;
  background-color: #fff;
  color: #000;
}

.elements__img {
  border-radius: 10px 10px 0 0;
}

.elements__description {
  display: flex;
  justify-content: space-between;
  padding: 0 21px;
  align-items: center;
  margin: 23px 0 25px;
}

.elements__place {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__heart {
  max-width: 22px;
  width: 100%;
  min-height: 19px;
  background-image: url(../images/heart.png);
  background-repeat: no-repeat;
  border: none;
  background-color: #fff;
  transition: opacity .3s ease-out;
}

.elements__heart:hover {
  opacity: .5;
  cursor: pointer;
}

.elements__heart:active {
  background-image: url(../images/heartActive.png);
}

.footer {
  max-width: 880px;
  margin: 0 auto;
}

.footer__copyright {
  width: 100%;
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  padding: 66px 0 60px;
  margin: 0;
}

.popup {
  position: absolute;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, .5);
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  display: none;
}

.popup__container {
  position: relative;
  max-width: 430px;
  min-height: 330px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.popup__heading {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  color: #000000;
  max-width: 358px;
  margin: 0 auto;
  padding: 34px 0 54px;
}

.popup__input-container {
  max-width: 358px;
  margin: 0 auto;
  padding: 0 36px;
  border: 0;
}

.popup__handlers {
  margin: 0;
  width: 320px;
  height: 40px;
  border: 0;
  font-size: 0;
}

.popup__item {
  border: 0;
  width: 100%;
  min-height: 27px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 14px;
  padding: 0;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #000;
  padding-left: 5px;
}

.popup__item:focus {
  outline: none;
}

.popup__handlers {
  margin: 18px auto 0;
  max-width: 358px;
  width: 100%;
}

.popup__button {
  max-width: 358px;
  width: 100%;
  min-height: 50px;
  font-size: 14px;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  transition: opacity .3s ease-out;
  background-color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
}

.popup__button:hover {
  opacity: .8;
}

.popup__close {
  position: absolute;
  right: -35px;
  top: -40px;
  max-width: 32px;
  width: 100%;
  min-height: 32px;
  padding: 0;
  background-image: url(../images/closeIcon.png);
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  transition: opacity .3s ease-out;
}

.popup__close:hover {
  opacity: .6;
  cursor: pointer;
}

.popup_opened {
  display: flex;
}

@media screen and (max-width: 900px) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
  }

  .profile__info {
    align-items: center;
    margin-left: 28px;
    gap: 8px;
  }

  .profile__container {
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 10px;
  }

  .header__logo {
    margin-left: 27px;
  }

  .footer__copyright {
    width: calc(100% - 38px);
    font-size: 14px;
    padding: 48px 0 36px;
    margin: 0 auto;
  }

  .profile__edit-button {
    min-width: 24px;
    margin-top: 20px;
  }

}

@media screen and (max-width: 720px) {
  .profile {
    max-width: 282px;
  }

  .profile__info {
    max-width: 220px;
  }

  .profile__edit-button {
    height: 18px;
    width: 18px;
    min-width: 18px;
    background-size: 7px;
    margin-top: 7px;
  }

  .profile__add-button {
    max-width: 282px;
  }

  .profile__name {
    font-size: 27px;
    line-height: 1.2;
  }

  .profile__job {
    font-size: 14px;
  }

  .header__logo {
    max-width: 104px;
  }

  .header {
    padding-top: 28px;
  }

  .header__line {
    padding-top: 22px;
  }

  .elements__list {
    padding-top: 36px;
    gap: 19px;
  }

  .popup__container {
    max-width: 282px;
    min-height: 322px;
  }

  .popup__close {
    max-width: 20px;
    min-height: 20px;
    top: -30px;
    right: 0;
  }

  .popup__heading {
    font-size: 18px;
    padding: 25px 0 75px;
    text-align: center;
  }

  .popup__handlers {
    max-width: 238px;
    margin-top: 15px;
  }

  .popup__button {
    max-width: 238px;
    min-height: 46px;
  }

  .profile__avatar {
    flex-basis: 100%;
  }
}
