.elements__heart {
  max-width: 22px;
  width: 100%;
  min-height: 19px;
  background-image: url(../../../images/heart.png);
  background-repeat: no-repeat;
  border: none;
  background-color: #fff;
  transition: opacity .3s ease-out;
}

.elements__heart:hover {
  opacity: .5;
  cursor: pointer;
}

.elements__heart:active {
  background-image: url(../../../images/heartActive.png);
}
