.elements__heart {
  max-width: 22px;
  width: 100%;
  min-height: 19px;
  background-image: url(../../../images/heart.svg);
  background-size: 22px 19px;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  transition: opacity .1s ease-out;
}

@media (hover){
  .elements__heart:hover {
    opacity: .5;
    cursor: pointer;
  }
}
