.elements__heart {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/heart.svg);
  background-size: 22px 19px;
  background-repeat: no-repeat;
  border: none;
  background-color: #fff;
  transition: opacity .1s ease-out;
}

.elements__heart:hover {
  opacity: .5;
  cursor: pointer;
}
