.elements__list {
  max-width: 880px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 17px;
  margin: 0 auto;
  padding: 51px 0 0;
}

@media screen and (max-width: 720px) {
  .elements__list {
    padding-top: 36px;
    gap: 20px;
  }
}
